{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Recruiting</title>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Scripts (jQuery can't be the slim that comes from Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/bf7e05c402.js" crossorigin="anonymous"></script>
    <!-- Progress Bar -->
    <script src="{% static 'js/progressbar.min.js' %}"></script>
    <!-- Parallax -->
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
    <meta charset="UTF-8">
    <title>Jobs</title>
    {% bootstrap_css %}
</head>
<body>
    <header>
        <div class="container" id="nav-container">
            <!-- add this class -->
            <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
                <a class="navbar-brand" href="/">
                    <img id="logo" src="{% static 'img/logo_cloud.png' %}" alt="Cloud Recruiting">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/home">HOME</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="col-md-12">
            <h2 class="main-title">Jobs List</h2>
        </div>
        <div id="jb--job-board" api-key="19466bcc26704efe" class="vacancies" scroll="no" style="overflow: hidden">
            <a href="#">
                <script src="https://bb3jobboard.topechelon.com/job_board.js" type="text/javascript"></script>
            </a>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <span class="fab fa-linkedin"></span>
                        <a href="https://www.linkedin.com/in/yeda-steele-21711518">LinkedIn</a>
                        <span></span>
                    </div>
                    <div class="col-sm-4">
                        <a href="/privacyandpolicy">Privacy Policy</a>
                    </div>
                    <div class="col-sm-4">
                        <p> Website by CLOUD RECRUITING™ USA</p>
                    </div>
                </div>
            </div>
        </footer>

        {% bootstrap_javascript jquery='full' %}
        <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>